<h1><%= t "sample_app" %></h1>

<p><%= @greeting %> <%= @user.name %>,</p>

<p><%= t "click_on_the_link" %></p>

<%= link_to t("account_activation"),
  edit_account_activation_url(@user.activation_token, email: @user.email) %>
